/* blockerbrew-style.css */

body {
  font-family: 'Noto Sans', 'Nanum Gothic', Arial, Helvetica, sans-serif; /* Change the font family as needed */
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; /* Set your preferred background color */
}

#wrapper {
  width: 95%;
  margin: 0 auto;
  overflow: hidden; /* Clear floats */
}

#header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.logo h1 {
  margin: 0;
}

.logo h2 {
  margin: 5px 0 0;
}

.row {
  display: flex;
}

.column {
  flex: 1; /* Equal width columns */
  /* flex: 50%; or other values for unequal columns */
}

.item {
  font: 1em 'Noto Sans', 'Nanum Gothic', Arial, Helvetica, sans-serif;
  font-style: italic;
  max-width: 100%; /* Limit maximum width of items */
  white-space: nowrap; /* Prevent items from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
}

.brewing-notes {

}

.label {
  font-weight: bold; /* Make the labels bold */
}

h3 {
  margin-top: 20px;
  padding: 2px;
}

/* Add more styles as needed for your specific layout and design */
